extends template

block page

    if singoutButton
      .container
        .row
          .col-sm-11
          .col-sm-1
            span.pull-right
              a.btn.btn-primary(href='/logout', role='button') Signout

    .container
        form(name="form", method="post")
            div.input
                span.label Value:
                input(id="textArea", name="textArea", type="text", value=(returnText))
            div.actions
                //- span.label Ready
                //- input(name="completed", type="checkbox", checked=(readyState))
                input(type="submit", value="SEND")



    //- script(src='client.js')
    script(type='text/javascript').
      $(function () {
        var socket = io();
        //- socket.emit("get data");
        socket.on('update_text', function(data){
          $("#textArea").val(data);
          console.log(data);
        });
      });


