html
  head
    title!= title
  body
    h1!= message

    form(name="form", method="post")
        div.input
            span.label Value:
            input(type="text", name="val", value = (returnText))
        div.actions
            input(type="submit", value="SEND")
            span.label Ready
            input(type="checkbox", name="completed", checked=(readyState))