html
  head
    title Login
  body
    h1 Login

    form(name="form", method="post")
        div.input
            span.label Enter password::
            input(name="password", type="password")
        div.actions
            input(type="submit", value="LOGIN")
         


 

